.feature_item_box {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;

  .mh-height {
    &:first-child {
      padding-right: 5px;
      padding-left: 0;
    }

    &:last-child {
      padding-left: 5px;
      padding-right: 0;
    }
  }

  .featuredBox {
    position: relative;

    .featured_overlay {
      text-align: center;
      width: 100%;
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      min-height: 440px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      .featuredImg {
        width: auto;
        height: 100px;
        margin: 0 auto;
        max-width: 100%;
      }

      p {
        margin: 0;
        padding: 28px 0 1px 0;
        font-weight: 400;
        font-size: 17px;
      }

      h1 {
        max-width: 450px;
        line-height: 1.2;
        font-size: 36px;
        text-transform: capitalize;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    &.dark_blue_text{
      p,h1{
        color: #003e7e;
      }
    }

    &.white_text{
      p,h1{
        color: #ffffff;
      }
    }
  }
}